#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  cursor: pointer;
  justify-content: center;
  gap: 10px;
}
.active__pagination{
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
}
.pagination>span {
  padding: 10px 10px;
  margin: 15px 0;
  display: flex;
  border:1px solid #ffffff;
  justify-content: center;
  gap: 10px;
}
.disabled__pagination{
  pointer-events: none;
  opacity: 0.5;
}

.prod-img {
  height: 100px;
}

.products__single {
  height: 250px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.products {
  margin: 20px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}